.content{
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: 3rem;
    width: 100%;
    background-color: rgb(242, 216, 245);
}
.totale a{
    position: absolute;
    top:6%;
    left:50%;
    transform:translate(-50%,0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    -webkit-user-select: none;
    user-select: none;
}
.totale{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.liftButton{
    position: absolute;
    cursor: pointer;
    margin-top: -4rem;
    margin-left: 3rem;
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem;
    background-color:red;
    font-family:fantasy ;
    font-weight: bold;
    font-size: large;
    color: white;
    opacity: .7;
    outline:none;
}