.content{
    height: 100%;
    overflow: scroll;
}
.showRoom{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    row-gap: 1rem;
}

.weights{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}
weight-show{
    width: 60rem;
    height: fit-content;
}
.description{
    display: flex;
    flex-direction: column;
    width: 10rem;
    row-gap: 0.7rem;
}
.stats{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}
label{
    width: 3rem;
    -webkit-user-select: none;
    user-select: none;
    color:  rgb(124, 56, 184);
    margin-right: 2rem;
}
.title{
    -webkit-user-select: none;
    user-select: none;
    border: none;
    display: inline;
    margin-bottom: 1rem;
    margin-left:2rem;
    font-family: serif;
    font-weight: bolder;
    padding: none;
    background-color: transparent;
    color: rgb(44, 6, 78);
    width: 12rem;

}
.title::placeholder{
    color: rgb(44, 6, 78);
    opacity: .5;
}
.attribute{
    border: none;
    border-left: 3px solid blueviolet;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    padding: none;
    background-color: rgb(231, 209, 250);
    width: 5ch;
}

input:focus{
    outline: none !important;
    border-radius: 9px;
    box-shadow: 0 0 10px blueviolet;

}
.remove{
    border: none;
    outline: none;
    border-radius: 9px;
    width: 2rem;
    height: 2rem;
    opacity: 0.8;
    background-color: #7e4a7b;
    color: #e2a9df;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}
.remove:hover{
    outline: none !important;
    border-radius: 9px;
    box-shadow: 0 0 10px blueviolet;
}
.addbutton{
    margin-top: -1px;
}
